html {
    background-color: #232323;
}
.pulse {
    margin: 300px 0px 0px 200px;
    width: 100px;
    height: 100px;
    background-color: #749a02;
    border-radius: 50px;
	font-size: 72pt;
	font-family: 'Roboto', sans-serif;
	color: white;
}


@-webkit-keyframes redPulse {
    from {
        background-color: #bc330d;
        -webkit-box-shadow: 0 0 90px #333;
    }
    50% {
        background-color: #e33100;
        -webkit-box-shadow: 0 0 180px #e33100;
    }
    to {
        background-color: #bc330d;
        -webkit-box-shadow: 0 0 90px #333;
    }
}
div.pulse.red {
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
